/* elements */
html {
  font-size: 87.5%;
}

@media (min-height: 21em) and (min-width: 42em) {
  html {
    font-size: 100%;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: blue;
  font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Segoe UI", "Hiragino Sans", ヒラギノ角ゴシック, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;;
  color: white;
  line-height: 1.25;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

/* modules */
.bg {
  background-image: url(images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  animation-name: animation-bg;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4rem; /* TODO: .work が増えたら値を調整する。いつかちゃんと CSS 書く。 */
  left: 0;
  margin: auto;
  width: 8rem;
  height: 8rem;
  fill: white;
}

@media (min-height: 21em) and (min-width: 42em) {
  .logo {
    bottom: 0;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.desc {
  margin-top: .25rem;
  margin-bottom: 0;
  text-indent: 1.8rem;
}

.work {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
}

.work li {
  display: inline-block;
  margin: .25rem;
}

.work li:before {
  content: "/";
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .25rem;
}

.work li:first-child:before {
  content: none;
}

@media (min-height: 21em) and (min-width: 42em) {
  .work li {
    display: block;
    margin-bottom: .25rem;
    text-align: right;
  }
  .work li:before {
    content: none;
  }
}

@-webkit-keyframes animation-bg {
  0% {
    background-color: lightblue;
  }
  25% {
    background-color: blue;
  }
}
