/* ELEMENTS */
:root {
  /* Color */
  --white: #FFFFFF;
  --black: #1F2833;
  --blue: #0000FF;
  --aqua: #2BFFC8;
  --pink: #FFA1EC;
  --purple: #A8198B;
  --whiteSmoke: #F5F5F7;
  --gray: #515961;
  --darkBlue: #314152;
  --bannerTextColor: var(--white);
  --bannerBGColor: #264DE4;

  /* Size */
  --size: 1rem;
  --sizeHalf: calc(var(--size) / 2);
  --sizeQuarter: calc(var(--size) / 4);
  --sizeSmall: calc(var(--size) * .75);
  --sizeLarge: calc(var(--size) * 1.5);
  --sizeXLarge: calc(var(--size) * 2);
  --sizeXXLarge: calc(var(--size) * 3);
  --sizeContent: calc(var(--size) * 64);
  --sizeContentSmall: calc(var(--size) * 40);

  /* Ratio */
  --ratio: .618;
  --ratioNeg: calc(1 - var(--ratio));

  /* Font */
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontWeightNormal: normal;
  --fontWeightBold: bold;

  /* Line Height */
  --lineHeight: calc(1 + var(--ratio));
  --lineHeightSmall: calc(1 + var(--ratioNeg));
}

::selection {
  background-color: var(--pink);
}

::-moz-selection {
  background-color: var(--pink);
}

html {
  font-family: var(--fontFamily);
  font-size: 100%;
  line-height: var(--lineHeight);
}

@media screen and (min-width: 64rem) {
  html {
    font-size: 112.5%;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:active,
a:visited {
  text-decoration: underline;
}

h1 {
  margin-top: var(--sizeXXLarge);
  margin-bottom: var(--size);
  font-size: var(--sizeXLarge);
  line-height: var(--lineHeightSmall);
}

h2 {
  margin-top: var(--sizeXXLarge);
  margin-bottom: var(--size);
  font-size: var(--sizeXLarge);
  font-weight: var(--fontWeightNormal);
  line-height: var(--lineHeightSmall);
}

h3 {
  font-size: var(--sizeLarge);
  line-height: var(--lineHeightSmall);
}

h4 {
  font-size: var(--size);
  line-height: var(--lineHeightSmall);
}

small {
  font-size: var(--sizeSmall);
}

dt {
  font-weight: var(--fontWeightBold);
}

dd {
  margin-left: var(--sizeLarge);
}

dd + dt {
  margin-top: var(--size);
}

dd p {
  margin: 0;
}

dd p + p {
  margin-top: var(--size);
}

/* LAYOUT */
#header {
  display: flex;
  align-items: center;
  background-color: var(--white);
}

#title {
  margin: 0;
  font-size: var(--size);
  font-weight: var(--fontWeightNormal);
  color: var(--gray);
}

#nav {
  margin-left: auto;
}

@media screen and (min-width: 44rem) {
  #header {
    justify-content: space-between;
    position: relative;
    padding: var(--size);
  }

  #logo {
    position: absolute;
    top: 0;
    left: calc(50% - ((var(--size) + var(--sizeLarge)) / 2)); /* ロゴを画面幅中央に寄せる指定。50% - （(ロゴサイズ + 余白) / 2） */
  }

  #title {
    font-size: var(--size);
    order: -1;
  }

  #nav {
    margin-left: 0;
  }
}

#main {
  margin: 0 auto;
  padding: 0 var(--size);
}

#footer {
  margin: var(--size) 0;
  padding: 0 var(--size);
}

#banner {
  margin-top: var(--sizeXXLarge);
}

#byline {
  margin: 0;
  color: var(--gray);
  text-align: center;
}

@media screen and (min-width: 44rem) {
  .container {
    max-width: var(--sizeContent);
    margin: 0 auto;
    scroll-behavior: smooth;
  }

  .containerSmall {
    max-width: var(--sizeContentSmall);
    width: 50%;
    margin: 0 auto;
  }
}

/* MODULE */
.shyLink {
  color: inherit;
}

.iconButton {
  display: inline-flex;
  padding: var(--size);
  cursor: pointer;
  box-sizing: border-box;
  fill: var(--black);
}

.iconButton--logo {
  fill: var(--blue);
}

.iconButton__image {
  width: var(--sizeLarge);
  height: var(--sizeLarge);
  fill: inherit;
}

@media screen and (min-width: 44rem) {
  .iconButton__image {
    width: var(--sizeXLarge);
    height: var(--sizeXLarge);
  }
}

.globalMenu {
  position: relative;
}

.globalMenu__list {
  display: none;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.globalMenu__list--open {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 var(--size) var(--size) var(--size);
  background-color: var(--white);
  font-size: var(--sizeXLarge);
  box-shadow: 0 6px 6px -6px rgba(0,0,0,.6);
  animation: globalMenuFadeIn .2s ease-in;
  -webkit-animation: globalMenuFadeIn .2s ease-in;
}

@keyframes globalMenuFadeIn {
  0% {
    transform: translateY(calc(var(--size) * -1));
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes globalMenuFadeIn {
  0% {
    transform: translateY(calc(var(--size) * -1));
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.globalMenu__list--open li + li {
  margin-top: var(--sizeHalf);
}

.globalMenu__list--open li.is--active {
  font-weight: var(--fontWeightBold);
}

.globalMenu__list li a {
  display: block;
  color: var(--black);
}

.globalMenu__list li a:hover,
.globalMenu__list li a:active,
.globalMenu__list li a:visited {
  text-decoration: none;
}

.globalMenu__list__icon {
  margin-left: var(--sizeQuarter);
  width: var(--sizeLarge);
  height: var(--sizeLarge);
  fill: var(--black);
}

@media screen and (min-width: 44rem) {
  .globalMenu__button {
    display: none;
  }

  .globalMenu__list {
    display: block;
  }

  .globalMenu__list li {
    display: inline-block;
    padding: 0 var(--sizeHalf);
  }

  .globalMenu__list li + li {
    margin-left: var(--sizeHalf);
  }

  .globalMenu__list li:hover {
    padding: 0 var(--sizeHalf);
    border-radius: 4px;
    background-color: var(--aqua);
    transition: .4s;
  }

  .globalMenu__list li.is--active {
    border-radius: 4px;
    background-color: var(--aqua);
  }

  .globalMenu__list__icon {
    margin-left: var(--sizeQuarter);
    width: var(--sizeSmall);
    height: var(--sizeSmall);
    fill: var(--black);
  }
}

.hero {
  margin: 0 calc(var(--size) * -1) var(--sizeLarge);
  padding: var(--sizeXLarge) var(--size);
}

.hero__message {
  margin: 0;
}

.hero__message__punctuation {
  visibility: hidden;
}

.hero__message__punctuation::after {
  content: "\A";
  white-space: pre;
}

.hero__lead {
  margin-top: var(--sizeQuarter);
  margin-bottom: 0;
  color: var(--gray);
  font-size: var(--size);
}

@media screen and (min-width: 44rem) {
  .hero {
    padding: calc(var(--size) * 6) var(--size);
    text-align: center;
  }

  .hero__message {
    font-size: var(--sizeXXLarge);
  }

  .hero__message__punctuation {
    visibility: visible;
    letter-spacing: calc(var(--size) * -1);
  }

  .hero__message__punctuation::after {
    content: "";
  }

  .hero__lead {
    font-size: var(--sizeLarge);
  }
}

.filter {
  display: flex;
  align-items: center;
  margin: var(--size) 0;
}

.filter__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.filter__list li {
  display: inline-block;
  height: var(--sizeLarge);
  vertical-align: middle;
  cursor: pointer;
}

.filter__list li.is--active {
  padding: 0 var(--sizeHalf);
  border-radius: calc(var(--sizeLarge) / 2);
  background-color: var(--aqua);
}

.filter__list li + li {
  margin-left: var(--size);
}

.filter__link {
  color: var(--blue);
  line-height: 1;
}

.showcase {
  display: grid;
  grid-row-gap: var(--sizeXLarge);
  margin-top: var(--sizeLarge);
  margin-bottom: var(--sizeXLarge);
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 44rem) {
  .showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--size) * 20), 1fr));
    grid-column-gap: var(--sizeXLarge);
    grid-row-gap: var(--sizeXLarge);
  }
}

.card {
  display: flex;
  color: inherit;
  line-height: var(--lineHeightSmall);
  cursor: pointer;
  animation: cardFadeIn .6s ease-in;
  -webkit-animation: cardFadeIn .6s ease-in;
}

.card:hover,
.card:active,
.card:visited {
  text-decoration: none;
}

.card--large {
  display: block;
}

.card__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--size);
  width: 50%;
  height: calc(50% * var(--ratio));
  border-radius: 4px;
  background-color: var(--whiteSmoke);
  overflow: hidden;
}

.card--large .card__thumb {
  margin-right: 0;
  width: auto;
  height: calc(100% * var(--ratio));
}

.card__thumb__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text__title {
  margin-top: 0;
  margin-bottom: var(--sizeQuarter);
  font-size: var(--size);
  font-weight: var(--fontWeightBold);
}

.card--large .card__text__title {
  margin-top: var(--sizeHalf);
  font-size: var(--sizeLarge);
}

.card__text__description {
  margin: var(--sizeQuarter) 0;
  font-size: var(--sizeSmall);
  color: var(--gray);
}

.card--large .card__text__description {
  font-size: var(--size);
}

.card__text__meta {
  display: flex;
  align-items: center;
  margin: var(--sizeQuarter) 0;
  color: var(--gray);
}

.card__text__meta__item {
  display: flex;
  align-items: center;
  font-size: var(--sizeSmall);
}

.card--large .card__text__meta__item {
  font-size: var(--size);
}

.card__text__meta__item + .card__text__meta__item {
  margin-left: var(--sizeHalf);
}

.card__text__meta__item__icon {
  margin-right: var(--sizeQuarter);
  width: var(--sizeSmall);
  height: var(--sizeSmall);
  fill: var(--gray);
}

.card--large .card__text__meta__item__icon {
  width: var(--size);
  height: var(--size);
}

@media screen and (min-width: 44rem) {
  .card {
    display: block;
  }

  .card:hover {
    margin: calc(var(--sizeHalf) * -1);
    padding: var(--sizeHalf);
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .15);
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in;
  }

  .card__thumb {
    margin-right: 0;
    width: auto;
    height: calc(100% * var(--ratio));
  }

  .card__text__title {
    margin-top: var(--sizeHalf);
  }

  .card--large .card__text__title {
    font-size: var(--size);
  }

  .card__text__description {
    font-size: var(--size);
  }

  .card__text__meta__item {
    font-size: var(--size);
  }

  .card__text__meta__item__icon {
    width: var(--size);
    height: var(--size);
  }
}

.banner {
  display: block;
  padding: var(--size);
  background-color: var(--bannerBGColor);
  line-height: var(--lineHeightSmall);
  color: inherit;
  cursor: pointer;
}

.banner:hover,
.banner:active,
.banner:visited {
  text-decoration: none;
}

.banner__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: calc(100vw * var(--ratioNeg));
  overflow: hidden;
}

.banner__thumb__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__text {
  color: var(--white);
}

.banner__text__title {
  margin: var(--sizeHalf) 0;
  font-size: var(--sizeLarge);
}

.banner__text__description {
  margin: var(--sizeHalf) 0;
  font-size: var(--sizeSmall);
}

.banner__text__action {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: var(--sizeSmall);
  color: var(--white);
}

.banner__text__action__icon {
  margin-left: var(--sizeQuarter);
  width: var(--sizeSmall);
  height: var(--sizeSmall);
  fill: var(--white);
}

@media screen and (min-width: 44rem) {
  .banner {
    display: flex;
  }

  .banner__thumb {
    width: calc(var(--size) * 12);
    height: 100%;
  }

  .banner__text {
    margin-left: var(--size);
  }

  .banner__text__title {
    margin-top: 0;
    font-size: var(--sizeLarge);
  }

  .banner__text__description {
    margin: var(--sizeHalf) 0;
    font-size: var(--size);
  }

  .banner__text__action {
    font-size: var(--size);
  }
}

@keyframes cardFadeIn {
  0% {
    transform: translateY(var(--size));
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes cardFadeIn {
  0% {
    transform: translateY(var(--size));
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.menu {
  padding-left: var(--sizeHalf);
  border-left: var(--sizeHalf) solid var(--aqua);
  counter-reset: menu;
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.menu li::before {
  content: counter(menu) ".";
  counter-increment: menu;
  display: block;
  margin-right: var(--sizeQuarter);
  width: var(--size);
  text-align: right;
  color: var(--blue);
}

.menu li + li {
  margin-top: var(--sizeQuarter);
}

.menu--meta li::before {
  content: none;
}

.menu__icon {
  flex-shrink: 0;
  margin-right: var(--sizeQuarter);
  width: var(--size);
  height: var(--size);
  fill: var(--gray);
}

.menu__icon--link {
  fill: var(--blue);
}

.menu__text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 44rem) {
  .menu {
    float: left;
    margin: 0;
    width: calc((50% / 2) - var(--sizeXXLarge));
  }
}

.figure {
  margin: var(--sizeXLarge) auto;
}

.figure__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: var(--size);
  border-radius: 4px;
  background-color: var(--whiteSmoke);
}

.figure__image--skelton {
  padding: 0;
  background-color: transparent;
  text-align: center;
  border-radius: 0;
}

.figure__image--fullwidth {
  align-items: flex-start;
  margin: 0 calc(var(--size) * -1);
  padding: 0;
  height: calc(100vw * var(--ratioNeg));
  border-radius: 0;
}

.figure__image__src {
  max-width: 100%;
  object-fit: cover;
}

.figure__caption {
  margin-top: var(--size);
  color: var(--gray);
  font-size: var(--sizeSmall);
  text-align: center;
}

@media screen and (min-width: 44rem) {
  .figure__image--fullwidth {
    margin: 0 calc(-50% - (var(--sizeHalf) * 2));
    max-height: var(--sizeContentSmall);
    background-color: var(--whiteSmoke);
  }
}

.note {
  display: block;
  color: var(--gray);
}
