/* ELEMENTS */
:root {
  /* Color */
  --white: #FFFFFF;
  --black: #1F2833;
  --blue: #0000FF;
  --aqua: #2BFFC8;
  --pink: #FFA1EC;
  --purple: #A8198B;
  --whiteSmoke: #F5F5F7;
  --gray: #515961;
  --darkBlue: #314152;
  --bannerTextColor: var(--white);
  --bannerBGColor: #264DE4;

  /* Size */
  --baseSize: 1rem;
  --halfSize: calc(var(--baseSize) / 2);
  --quarterSize: calc(var(--baseSize) / 4);
  --sizeSmall: calc(var(--baseSize) * .75);
  --sizeLarge: calc(var(--baseSize) * 1.5);
  --sizeXLarge: calc(var(--baseSize) * 2);
  --sizeXXLarge: calc(var(--baseSize) * 3);
  --contentSize: calc(var(--baseSize) * 64);
  --contentSizeSmall: calc(var(--baseSize) * 40);

  /* Ratio */
  --ratio: .618;
  --negativeRatio: calc(1 - var(--ratio));

  /* Font */
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontWeightNormal: 400;
  --fontWeightBold: 600;

  /* Linne Height */
  --lineHeight: calc(1 + var(--ratio));
  --lineHeightSmall: calc(1 + var(--negativeRatio));
}

::selection {
  background-color: var(--pink);
}

::-moz-selection {
  background-color: var(--pink);
}

html {
  font-family: var(--fontFamily);
  font-size: 100%;
  line-height: var(--lineHeight);
}

@media screen and (min-width: 64rem) {
  html {
    font-size: 112.5%;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:active,
a:visited {
  text-decoration: underline;
}

h1 {
  font-size: var(--sizeXLarge);
  line-height: var(--lineHeightSmall);
}

h2 {
  font-size: var(--sizeXLarge);
  font-weight: var(--fontWeightNormal);
  line-height: var(--lineHeightSmall);
}

h3 {
  font-size: var(--sizeLarge);
  line-height: var(--lineHeightSmall);
}

h4 {
  font-size: var(--baseSize);
  line-height: var(--lineHeightSmall);
}

small {
  font-size: var(--sizeSmall);
  color: var(--gray);
}

/* LAYOUT */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

#main {
  margin: 0 auto;
  padding: 0 var(--baseSize);
}

#footer {
  margin: var(--baseSize) 0;
  padding: 0 var(--baseSize);
}

@media screen and (min-width: 44rem) {
  .container {
    max-width: var(--contentSize);
    margin: 0 auto;
  }

  .containerSmall {
    max-width: var(--contentSizeSmall);
    width: 50%;
    margin: 0 auto;
  }
}

#banner {
  margin-top: var(--sizeXXLarge);
}

/* MODULE */
.pageTitle {
  margin: 0 var(--baseSize);
  font-size: var(--sizeSmall);
  font-weight: var(--fontWeightNormal);
  color: var(--gray);
}

@media screen and (min-width: 44rem) {
  .pageTitle {
    font-size: var(--baseSize);
  }
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sizeXXLarge);
  height: var(--sizeXXLarge);
  cursor: pointer;
}

.iconButton__image {
  width: var(--sizeLarge);
  height: var(--sizeLarge);
  fill: var(--black);
}

.iconButton__image--logo {
  fill: var(--blue);
}

.siteMenu__list {
  display: none;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.siteMenu__list li {
  display: inline-block;
}

.siteMenu__list li + li {
  margin-left: var(--baseSize);
}

.siteMenu__list li.is--active {
  font-weight: var(--fontWeightBold);
}

.hero {
  margin: 0 calc(var(--baseSize) * -1) var(--sizeLarge);
  padding: var(--sizeXLarge) var(--baseSize);
}

@media screen and (min-width: 44rem) {
  .hero {
    padding: calc(var(--baseSize) * 6) var(--baseSize);
    text-align: center;
  }
}

.hero__message {
  margin: 0;
}

@media screen and (min-width: 44rem) {
  .hero__message {
    font-size: var(--sizeXXLarge);
  }
}

.hero__message__punctuation {
  visibility: hidden;
}

.hero__message__punctuation::after {
  content: "\A";
  white-space: pre;
}

@media screen and (min-width: 44rem) {
  .hero__message__punctuation {
    visibility: visible;
  }

  .hero__message__punctuation::after {
    content: "";
  }
}

.hero__lead {
  margin-top: var(--halfSize);
  margin-bottom: 0;
  color: var(--gray);
  font-size: var(--baseSize);
}

@media screen and (min-width: 44rem) {
  .hero__lead {
    font-size: var(--sizeLarge);
  }
}

.filter {
  display: flex;
  align-items: center;
  margin: var(--baseSize) 0;
}

.filter__menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.filter__menu li {
  display: inline-block;
  height: var(--sizeLarge);
  vertical-align: middle;
  cursor: pointer;
}

.filter__menu li.is--active {
  padding: 0 var(--halfSize);
  border-radius: calc(var(--sizeLarge) / 2);
  background-color: var(--aqua);
}

.filter__menu li + li {
  margin-left: var(--baseSize);
}

.filter__link {
  color: var(--blue);
  line-height: 1;
}

.showcase {
  display: grid;
  grid-row-gap: var(--sizeXLarge);
  margin-top: var(--sizeLarge);
  margin-bottom: var(--sizeXLarge);
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 44rem) {
  .showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--baseSize) * 20), 1fr));
    grid-column-gap: var(--sizeXLarge);
    grid-row-gap: var(--sizeXLarge);
  }
}

.card {
  display: flex;
  color: inherit;
  line-height: var(--lineHeightSmall);
  cursor: pointer;
  animation: fadeIn .6s ease-in;
  -webkit-animation: fadeIn .6s ease-in;
}

.card:hover,
.card:active,
.card:visited {
  text-decoration: none;
}

.card--large {
  display: block;
}

@media screen and (min-width: 44rem) {
  .card {
    display: block;
  }

  .card:hover {
    margin: calc(var(--halfSize) * -1);
    padding: var(--halfSize);
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .15);
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in;
  }
}

.card__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--baseSize);
  width: 50%;
  height: calc(50% * var(--ratio));
  border-radius: 4px;
  background-color: var(--whiteSmoke);
  overflow: hidden;
}

.card--large .card__thumb {
  margin-right: 0;
  width: auto;
  height: calc(100% * var(--ratio));
}

@media screen and (min-width: 44rem) {
  .card__thumb {
    margin-right: 0;
    width: auto;
    height: calc(100% * var(--ratio));
  }
}

.card__thumb__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text__title {
  margin-top: 0;
  margin-bottom: var(--quarterSize);
  font-size: var(--baseSize);
  font-weight: var(--fontWeightBold);
}

.card--large .card__text__title {
  margin-top: var(--halfSize);
  font-size: var(--sizeLarge);
}

@media screen and (min-width: 44rem) {
  .card__text__title {
    margin-top: var(--halfSize);
  }

  .card--large .card__text__title {
    font-size: var(--baseSize);
  }
}

.card__text__description {
  margin: var(--quarterSize) 0;
  font-size: var(--sizeSmall);
  color: var(--gray);
}

.card--large .card__text__description {
  font-size: var(--baseSize);
}

@media screen and (min-width: 44rem) {
  .card__text__description {
    font-size: var(--baseSize);
  }
}

.card__text__meta {
  display: flex;
  align-items: center;
  margin: var(--quarterSize) 0;
  color: var(--gray);
}

.card__text__meta__item {
  display: flex;
  align-items: center;
  font-size: var(--sizeSmall);
}

.card--large .card__text__meta__item {
  font-size: var(--baseSize);
}

@media screen and (min-width: 44rem) {
  .card__text__meta__item {
    font-size: var(--baseSize);
  }
}

.card__text__meta__item + .card__text__meta__item {
  margin-left: var(--halfSize);
}

.card__text__meta__item__icon {
  margin-right: var(--quarterSize);
  width: var(--sizeSmall);
  height: var(--sizeSmall);
  fill: var(--gray);
}

.card--large .card__text__meta__item__icon {
  width: var(--baseSize);
  height: var(--baseSize);
}

@media screen and (min-width: 44rem) {
  .card__text__meta__item__icon {
    width: var(--baseSize);
    height: var(--baseSize);
  }
}

.banner {
  display: block;
  padding: var(--baseSize);
  background-color: var(--bannerBGColor);
  line-height: var(--lineHeightSmall);
  color: inherit;
  cursor: pointer;
}

@media screen and (min-width: 44rem) {
  .banner {
    display: flex;
  }
}

.banner:hover,
.banner:active,
.banner:visited {
  text-decoration: none;
}

.banner__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: calc(100vw * var(--negativeRatio));
  overflow: hidden;
}

@media screen and (min-width: 44rem) {
  .banner__thumb {
    width: calc(var(--baseSize) * 12);
    height: 100%;
  }
}

.banner__thumb__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__text {
  color: var(--white);
}

@media screen and (min-width: 44rem) {
  .banner__text {
    margin-left: var(--baseSize);
  }
}

.banner__text__title {
  margin: var(--halfSize) 0;
  font-size: var(--sizeLarge);
}

@media screen and (min-width: 44rem) {
  .banner__text__title {
    margin-top: 0;
    font-size: var(--sizeLarge);
  }
}

.banner__text__description {
  margin: var(--halfSize) 0;
  font-size: var(--sizeSmall);
}

@media screen and (min-width: 44rem) {
  .banner__text__description {
    margin: var(--halfSize) 0;
    font-size: var(--baseSize);
  }
}

.banner__text__action {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: var(--sizeSmall);
  color: var(--white);
}

@media screen and (min-width: 44rem) {
  .banner__text__action {
    font-size: var(--baseSize);
  }
}

.banner__text__action__icon {
  margin-left: var(--quarterSize);
  width: var(--sizeSmall);
  height: var(--sizeSmall);
  fill: var(--white);
}

.byline {
  margin: 0;
  color: var(--gray);
  text-align: center;
}

.byline__link {
  color: inherit;
}

@keyframes fadeIn {
  0% {
    transform: translateY(var(--baseSize));
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(var(--baseSize));
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.article__menu {
  padding-left: var(--halfSize);
  border-left: var(--halfSize) solid var(--aqua);
  color: var(--gray);
}

@media screen and (min-width: 44rem) {
  .article__menu {
    float: left;
    margin: 0;
    width: calc((50% / 2) - var(--sizeXXLarge));
  }
}

.article__menu__item {
  display: flex;
  align-items: center;
}

.article__menu__item + .article__menu__item {
  margin-top: var(--quarterSize);
}

.article__menu__item__link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article__menu__item__icon {
  margin-right: var(--quarterSize);
  width: var(--baseSize);
  height: var(--baseSize);
  flex-shrink: 0;
  fill: var(--gray);
}

.article__menu__item__icon--link {
  fill: var(--blue);
}

.figure {
  margin: var(--sizeXLarge) auto;
}

.figure__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: var(--baseSize);
  border-radius: 4px;
  background-color: var(--whiteSmoke);
}

.figure__image--fullwidth {
  align-items: flex-start;
  margin: 0 calc(var(--baseSize) * -1);
  padding: 0;
  height: calc(100vw * var(--negativeRatio));
  border-radius: 0;
}

@media screen and (min-width: 44rem) {
  .figure__image--fullwidth {
    margin: 0 calc(-50% - (var(--halfSize) * 2));
    max-height: var(--contentSizeSmall);
    background-color: var(--whiteSmoke);
  }
}

.figure__image__src {
  max-width: 100%;
  object-fit: cover;
}

.figure__image--fullwidth > .figure__image__src {
  border-radius: 0;
}

.figure__caption {
  margin-top: var(--baseSize);
  color: var(--gray);
  font-size: var(--sizeSmall);
  text-align: center;
}
