@charset "utf-8";

#header {
  position: fixed;
  padding-top: .75em;
  padding-bottom: .75em;
  width: 100%;
  background-color: rgba(255,255,255,.8);
  border-bottom: 1px solid #e5e7e7;
}

#main {
  overflow: hidden;
}

#footer {
 padding-top: 1em;
 padding-bottom: 1em;
 background-color: #fff;
 border-top: 1px solid #e5e7e7;
}

.l-container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 68em;
}

.l-group {
  width: 100%;
}

.l-group__small {
  width: 100%;
}

.l-group__large {
  width: 100%;
}

@media (min-width: 42em) and (min-height: 21em) {
  .l-group__small {
    float: left;
    margin-right: 2%;
    width: 32%;
  }

  .l-group__small--revert {
    margin-right: 0;
    margin-left: 2%;
  }

  .l-group__large {
    float: left;
    width: 66%;
  }

}
