@charset "utf-8";

#header {
  padding-top: .75em;
  padding-bottom: .75em;
  background-color: #fff;
  border-bottom: 1px solid #e5e7e7;
}

#main {
  overflow: hidden;
}

#footer {
 padding-top: 1em;
 padding-bottom: 1em;
 background-color: #fff;
 border-top: 1px solid #e5e7e7;
}

.l-container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 67.5em;
}

.l-group {
  width: 100%;
}

.l-group__narrow {
  width: 100%;
}

.l-group__wide {
  width: 100%;
}

@media (min-width: 42em) and (min-height: 21em) {
  .l-group__narrow {
    float: left;
    margin-right: 2%;
    width: 32%;
  }

  .l-group__wide {
    float: left;
    width: 66%;
  }
}
