@charset "utf-8";

.about {
  overflow: hidden;
  padding-top: 3em;
  padding-bottom: 6em;
  background-color: #fff;
}

.secondary-heading--about {
  margin-top: 0;
}

.skill-list {
  list-style: none;
  margin-bottom: 1em;
  padding-left: 0;
}

.skill-list li {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: .25em .5em;
  border-radius: 2px;
  background-color: #eeefef;
}
