@charset "utf-8";

.btn {
  box-sizing: border-box;
  display: block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}

.primary-btn {
  border: 1px solid #519bf2;
  background-image: linear-gradient(180deg, #73aff4, #519bf2);
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0, .2);
  box-shadow: inset 0 1px 0 rgba(255,255,255, .2);
}

.primary-btn--large {
  padding: .5em 1em;
  width: 100%;
  font-size: 1.25em;
}
