@charset "utf-8";

.card {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: .75em;
  background-image: linear-gradient(180deg, #fcfcfd, #f7f6f8);
  background-color: #fcfcfd;
  box-shadow: 0 2px 2px rgba(0,0,0, .2);
}

.card__image {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}

.card__heading {
  margin-top: 0;
  margin-bottom: .5em;
}

.card__desc {
  margin-top: 0;
  margin-bottom: 1em;
}

.card__link {
  display: block;
  float: right;
}
