@charset "utf-8";

.card {
  box-sizing: border-box;
  padding: .75em;
  width: 100%;
  background-image: linear-gradient(180deg, #fcfcfd, #f7f6f8);
  box-shadow: 0 2px 2px rgba(0,0,0, .2);
}

@media (min-width: 21em) and (min-height: 10.5em) {
  .card {
    width: 46.667%;
  }
}

.card__image {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}

.card__heading {
  margin-top: 0;
  margin-bottom: .5em;
}

.card__desc {
  margin-top: 0;
  margin-bottom: 1em;
}

.card__link {
  display: block;
  text-align: right;
}
