@charset "utf-8";

.gnav {
  float: right;
}

.gnav__list {
  overflow: hidden;
  display: inline-block;
  margin-right: -1em;
  padding-left: 0;
  height: 3em;
  line-height: 3;
  vertical-align: middle;
}

.gnav__list li {
  display: inline;
  margin-right: 1em;
}

.gnav__list__link {
  text-decoration: none;
}

/* State */
.is-gnav__list__link--current {
  border-bottom: 2px solid #559DEF;
  padding-bottom: .25em;
}
