@charset "utf-8";

.gnav {
  float: left;
}

.gnav__list {
  overflow: hidden;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -1em;
  padding-left: 0;
  vertical-align: middle;
}

.gnav__list li {
  display: inline;
  margin-right: 1em;
}

.gnav__list__link {
  text-decoration: none;
}

.gnav__list__link:hover {
  text-decoration: underline;
}
