@charset "utf-8";

.ico {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: top;
}

.ico-coding {
  margin-top: .1em;
  margin-right: .25em;
  width: 1em;
  height: 1em;
  background-image: url(../../images/ico-coding.png);
  background-size: 100%;
}

.ico-design {
  margin-top: .1em;
  margin-right: .25em;
  width: 1em;
  height: 1em;
  background-image: url(../../images/ico-design.png);
  background-size: 100%;
}

.ico-illustration {
  margin-top: .1em;
  margin-right: .25em;
  width: 1em;
  height: 1em;
  background-image: url(../../images/ico-illustration.png);
  background-size: 100%;
}

.ico-project {
  margin-top: .1em;
  margin-right: .25em;
  width: 1em;
  height: 1em;
  background-image: url(../../images/ico-project.png);
  background-size: 100%;
}
