@charset "utf-8";

.mainview {
  padding-top: 3.5em;
  overflow: hidden;
  border-bottom: 1px solid #e5e7e7;
  background-image:  radial-gradient(at top, rgba(255,255,255, .5), rgba(0,0,0, .1)), url(../../images/mainview-bg.png);
  background-color: #b9d9d8;
}

.mainview__starry-night {
  background-image: radial-gradient(rgba(255,255,255, .4), rgba(255,255,255, 0) 4px),
                    radial-gradient(rgba(255,255,255, .4), rgba(255,255,255, 0) 4px),
                    radial-gradient(rgba(255,255,255, .4), rgba(255,255,255, 0) 4px),
                    radial-gradient(rgba(255,255,255,.2),  rgba(255,255,255, 0) 4px),
                    radial-gradient(rgba(255,255,255, .4),  rgba(255,255,255, 0) 4px);
  background-size: 600px 365px,
                   400px 300px,
                   300px 200px,
                   200px 100px,
                   300px 200px;
  background-position: 0 0,
                       40px 60px,
                       130px 270px,
                       60px 100px,
                       -30px -70px;
}

.mainview__site-intro {
  margin-top: 1em;
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url(../../images/mainview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  color: #fff; 
  text-align: left;
  text-shadow: 0 0 2px #A8D0CD,
               0 0 4px #A8D0CD,
               0 1px 0 rgba(0,0,0, .2);
}

.mainview__site-intro__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25;
}

.mainview__site-intro__desc {
  margin-top: .25em;
  margin-bottom: .25em;
}

.mainview__site-intro__link {
  color: #fff; 
}
