@charset "utf-8";

.mainview {
  overflow: hidden;
  border-bottom: 1px solid #e5e7e7;
  background-image: radial-gradient(at top, rgba(255,255,255, .25) 25%, rgba(185,225,200, .8)), url(../../images/mainview-bg.png);
  background-color: #b9d9d8;
}

@media (min-width: 42em) and (min-height: 21em) {
  .mainview {
    padding-top: 3.5em;
  }
}

.mainview__site-intro {
  margin-top: 1em;
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url(../../images/mainview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  color: #fff; 
  text-shadow: 0 0 1px #649694,
               0 0 2px #b9d9d8,
               0 0 3px #b9d9d8,
               0 0 4px #649694;
}

.mainview__site-intro__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25;
}

.mainview__site-intro__desc {
  margin-top: .25em;
  margin-bottom: .25em;
  font-weight: bold;
}

.mainview__site-intro__link {
  color: inherit; 
  text-decoration: none;
}
