@charset "utf-8";

.showcase {
  overflow: hidden;
  background-color: #eeefef;
}

.showcase__pack {
  margin-top: 3em;
  margin-bottom: 6em;
}

.showcase__pack__name {
  margin-top: 0;
  margin-bottom: .5em;
}

.showcase__pack__name__image {
  margin-top: .1em;
  margin-right: .25em;
  vertical-align: top;
}

.showcase__pack__list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.showcase__pack__list li {
  margin-bottom: 2%;
}

@media (min-width: 21em) and (min-height: 10.5em) {
  .showcase__pack__list {
    margin-right: -2%;
  }

  .showcase__pack__list li {
    float: left;
    margin-right: 2%;
    width: 48%;
  }
}
