@charset "utf-8";

.logo {
  float: left;
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 0;
  font-size: 1.5em;
  color: #f78eac;
  line-height: 1;
  vertical-align: top;
}

.logo__image {
  display: inline-block;
  margin-right: .25em;
  width: 1em;
  height: 1em;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  text-align: center;
}
